body {
	font-family: 'Roboto', sans-serif;
}
.row {
	vertical-align: middle;
}
.col-xs-4 {
	text-align: center;
}
.jumbotron {
	margin: 0px;
}
.feature-row {
	margin-top: 5%;
}
.well p {
	font-size: 2rem;
	margin-top: 4px;
	vertical-align: top;
}
.big-button {
	margin-top: 5%;
	font-size: 3rem;
	background: linear-gradient(to bottom right, #2bff4e, #2bff7c);
	padding: 15px;
	border: 1px solid #21d14d;
	border-radius: 6px;
	cursor: pointer;
	box-shadow: 0px 0px 8px #888;
}
.big-button p {
	font-weight: bold;
	letter-spacing: 0.05em;
	margin-top: 8px;
	color: #333;
	user-select: none;
	cursor: pointer;
}
.navbar {
	margin: 0px;
}
h1 {
	font-size: 8rem;
}
.title {
	text-align: center;
}
.login-show, .login-hide {
	display: none;
}