body {
	font-family: 'Roboto', sans-serif;
}
.row {
	vertical-align: middle;
}
.col-xs-4 {
	text-align: center;
}
.jumbotron {
	background-color: #aaa;
	margin: 0px;
}
.navbar {
	margin: 0px;
}
h1 {
	font-size: 8rem;
}
.title {
	text-align: center;
}
.heading {
	margin: 5% 0 5% 5%;
	font-size: 6rem;
}
.thumbnail-box {
	width: 120px;
	height: 200px;
	display: inline-block;
	margin: 5px;
}
.thumbnail-box img {
	height: auto;
	width: 100%;
}
#gallery-row {
	padding-left: 20px;
}
.popover {
	text-align: center;
}
form {
	margin-left: 5%;
}
.out-trade-row, .in-trade-row {
	margin: 0% 0% 5% 5%;
	text-align: center;
}
.trade-box {
	padding: 10px;
	border: 2px solid #999;
	border-radius: 5px;
	background-color: #eee;
}
.trade-box p {
	font-size: 2rem;
}
.approve {
	margin-right: 2%;
}
.deny {
	margin-left: 2%;
}
.login-show, .login-hide, .book-cover, .trade-type, .trade-index {
	display: none;
}