body {
	font-family: 'Roboto', sans-serif;
}
.row {
	vertical-align: top;
}
.col-xs-4 {
	text-align: center;
}
.navbar {
	margin: 0px;
}
h1 {
	font-size: 8rem;
}
.title {
	text-align: center;
}
.heading {
	margin: 5% 0 5% 5%;
	font-size: 6rem;
}
.thumbnail-box {
	width: 120px;
	height: 200px;
	display: inline-block;
	margin: 5px;
}
.thumbnail-box img {
	height: auto;
	width: 100%;
}
.gallery-row {
    padding-left: 20px;
}
.popover {
	text-align: center;
}
.sub-heading {
	margin: 5% 0 5% 5%;
	font-size: 4rem;
}
#offer-row {
    margin-left: 5%;
    vertical-align: top;
}
#accept-box {
    display: inline-block;
    text-align: center;
    margin-left: 6%;
    width: 280px;
}
.offer-head {
    display: inline-block;
    width: 140px;
    text-align: center;
    margin: 0 3% 0 3%;
    font-size: 18px;
}
.offer {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    border: 2px dashed #666;
    margin: 1% 3% 3% 3%;
    width: 140px;
    height: 200px;
    background-color: #aaa;
}
.search-row {
    margin-top: 5%;
}
.login-show, .login-hide, .owner {
	display: none;
}